
body,html{
	margin:0;
	padding:0;
	background:#ffffff;
  overflow-x: hidden;
	font-family: 'Inter', sans-serif;
  width: 100%;

}
*{
	padding: 0;
	margin: 0;
}
/*...........all color root..........*/
:root {
--bodybg:#E5E5E5;
--bluebg: #fbfbfb;
--white: #ffffff;
--gray:#808191;
--hb:#4E73DF;
--fw:600 ;
--fwfive:500 ;
--fwfour:400 ;
--iconbg:#B0B7C3;
--dot:#FF0D0D;
--btncolor:#11142D;
--cicon:#1B1D21;
--cscolor:#012D59;
--mediac:#171717;
--colorlittle:#808191;
--tbcolor:#2E2C34;
--tbcd:#84818A;
--mediacd:#1A1F36;
--bgtable:rgba(249,250,250,1);
--bshadow:0px 2px 4px rgba(156,156,156,0.25);
--divshadow:0px 23px 44px rgba(176,183,195,0.14);
}
/*......................dashboard css........................*/
.info-card{
	margin-bottom: 20px;
}
.info-card .card{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.10);
	height: 100px;
	border-radius: 10px;
	padding: 60px 20px;

	transition: all 0.3s ease;
	overflow: hidden;
	position: relative;
}
.info-card  .col-lg-3.col-md-4.col-xs-6{
	
	margin-bottom: 20px;
  }
.info-card .text-card p{
   padding: 0px;
   margin: 0px;
   line-height: 25px;
   
}
.info-card .text-card p:nth-child(1){
	font-size: 10px;
    line-height: 13px;
    font-weight: 600;
    color: rgb(56, 47, 47);
	margin-bottom: 5px;
}
.info-card .text-card p:nth-child(2) {
	font-size: 20px;
	text-decoration: none;
    color: #302929;
	font-weight: 600;

}
.info-card .text-card p:nth-child(3) span:nth-child(1){
	font-size: 10px;
	
	padding: 2px 8px;
	border-radius: 5px;
}
.info-card .text-card p:nth-child(3) span:nth-child(2) a{
	font-size: 10px;
	margin-left: 8px;
	text-decoration: none;
	color: #302929;
	transition: all 0.3s ease;
}
.info-card .text-card p:nth-child(3) span:nth-child(2) a:hover{
    color: #000000;
	font-weight: 600;
}
.info-card .icon-card p{
   display: flex;
  text-align: center;
  justify-content: center;
   align-items: center;
   color: #fff;
  width: 40px;
  height: 40px;
 
   border-radius: 100px;
}
.info-card .icon-card p i{
  font-size: 20px;
}
.info-card .card:hover{
  transform: scale(1.02);
 
 
}
.info-card .card:after{
  content: "";
  position: absolute;
  width: 200px;
  height: 300px;
  z-index: -1;
  transform: rotate(30deg);
  left: -300;
  transition: all 0.3s ease;
}
.info-card .card:hover:after{
 left: -100px;
}

.info-card .card-1{
	border-bottom: 5px solid #FF579A;
}
.info-card .card-1 .icon-card p{
	background: #FF579A;
}
.info-card .card-1:after{
  background:rgba(255, 87, 154,0.06) ;
}
.info-card .card-1 .text-card p:nth-child(3) span:nth-child(1){
	font-size: 10px;
	background: rgba(255, 87, 154,0.09);
	color:rgba(255, 87, 154,0.5) ;
}





.info-card .card-2{
	border-bottom: 5px solid #5C60F5;
}
.info-card .card-2 .icon-card p{
	background: #5C60F5;
}
.info-card .card-2:after{
	background:rgba(92, 96, 245,0.06) ;
}
.info-card .card-2 .text-card p:nth-child(3) span:nth-child(1){
	font-size: 10px;
	background: rgba(92, 96, 245,0.09);
	color:rgba(92, 96, 245,0.5) ;
}




.info-card .card-3{
	border-bottom: 5px solid #00D4FF;
}
.info-card .card-3 .icon-card p{
	background: #00D4FF;
}
.info-card .card-3:after{
	background:rgba(0, 212, 255,0.06) ;
  }
  .info-card .card-3 .text-card p:nth-child(3) span:nth-child(1){
	font-size: 10px;
	background: rgba(0, 212, 255,0.09);
	color:rgba(0, 212, 255,0.5) ;
}





  .info-card .card-4{
	border-bottom: 5px solid #FF8C00;
}
.info-card .card-4 .icon-card p{
	background: #FF8C00;
}
.info-card .card-4:after{
	background:rgba(255, 140, 0,0.06) ;
  }
  .info-card .card-4 .text-card p:nth-child(3) span:nth-child(1){
	font-size: 10px;
	background: rgba(255, 140, 0,0.09) ;
	color:rgba(255, 140, 0,0.5)  ;
}





@media screen and (max-width: 1092px) {
	.info-card .card{
		padding: 60px 14px;
	}
	.info-card .text-card p{
		display: flex;
		line-height: 30px;
	 }
}
@media screen and (max-width: 412px) {
.info-card  .col-lg-3.col-md-4.col-xs-6{
  width: 100%;
  
}
#page-content-wrapper{
	padding: 0px;
}
.xyz {
    min-width: 0px;
}
}


